/* reset */
* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

h3 {
   position: absolute;
   width: 648px;
   height: 52px;
   transform: rotate(-90deg);
   flex-shrink: 0;
   top: 1380px;
   left: 50px;
   font-size: 34px;
   font-style: normal;
   font-weight: 400;
   line-height: normal;
   text-transform: uppercase;
}

.top-web {
   width: 100%;
   height: 847px;
   background-color: #1E28320D;
}

.container {
   height: auto;
   width: 1320px;
   margin: auto;
}

.head {
   display: flex;
   justify-content: space-between;
}

/* top-web */

.container .top-left {
   width: 25px;
   justify-content: center;
   align-items: center;
}


.container .top-center {
   display: flex;
}

.container .top-center svg {
   justify-content: center;
   align-items: center;
   margin-top: 10px;
   margin-left: 5px;
   margin-right: 5px
}

.container .top-right {
   justify-content: center;
   align-items: center;

}

.container .top-right button {
   margin-left: 22px;
   border: none;
   background-color: #fff;
}

.container .top-right button i {
   padding-right: 8px;
}

.menu {
   margin-top: 30px
}

.menu ul {
   display: flex;
   justify-content: space-between;
}

.menu ul li {
   list-style: none;
}

.menu ul li button {
   border: none;
   background-color: #f4f4f4;
}

/* main-top */

.main-top {
   display: flex;
   position: relative;
}


.main-top-left h2 {
   font-size: 74px;
   margin-bottom: 54px;
   margin-top: 155px;
}

.main-top-left p {
   font-size: 30px;
   width: 682px;
   height: 119px;
}

.main-top-left button {
   display: inline-flex;
   padding: 19px 26px;
   justify-content: center;
   align-items: center;
   gap: 8px;
   background-color: black;
   color: white;
}

.main-top-left button i {
   font-size: 29px;
}

.main-top-right {
   padding-left: 50px;
   padding-left: 200px;
}

.main-top-right img {
   display: flex;
   width: 424px;
   position: absolute;
   top: 81px;
   right: 98px;
}

/* brands */
.brands {
   padding-top: 90px;
}


.brands ul {
   display: flex;
   width: 1320px;
   justify-content: space-between;
   align-items: center;
}

.brands ul li {
   list-style: none;
}

.banner-body {
   display: flex;
   width: 100%;
   height: 648px;
   margin-top: 90px;
}

.banner-body-right {
   flex-wrap: wrap;
   width: calc(100%/2);
   height: 648px;
   display: flex;
}

.banner-body-right ul {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-evenly;
}

.banner-body-right ul li {
   list-style: none;

}

/* product */

.product {
   padding-top: 140px;
}

.product h2 {
   font-size: 50px;
   display: flex;
   justify-content: center;
}

.product-title {
   display: flex;
   margin-top: 35px;
}

.product-title-left {
   width: 373px;
   height: 22px;
}

.product-title-left ul {
   display: flex;
   justify-content: space-between;
}

.product-title-left ul li {
   list-style: none;
}

.product-title-left ul li button {
   border: none;
   background-color: #fff;
}

.product-title-right {
   display: flex;
}

.product-title-right button {
   border: none;
   background-color: #fff;
}

.product-title-right button img {
   width: 92px;
   height: 32px;
   margin-left: 840px;
}

.product-card {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-evenly;
   margin-top: 35px;
}

.product-card .card .card-tittle {
   margin-top: 18px;
}

.product-card .card .card-bottom {
   display: flex;
   justify-content: space-between;
   margin-top: 16px;
}

/* banner-main */
.banner-main {
   width: 100%;
   position: relative;
   margin-top: 200px;
}

.banner-main .background-banner img {
   width: 100%;
}

.banner-main .logo-zara-1 img {
   position: absolute;
   z-index: 99;
   top: 290px;
   right: 646px;
}

.banner-main .logo-zara-2 img {
   position: absolute;
   z-index: 99;
   left: 1444px;
   top: 111px;
}

.banner-main .text-zara img {
   position: absolute;
   z-index: 99;
   right: 335px ;
   top: 470px;
}

.banner-main .button-zara img {
   position: absolute;
   z-index: 99;
   right: 600px ;
   top: 700px;
}

/* best-sellr */
.best-seller {
   margin-top: 100px;
}

.best-seller .container h2 {
   display: flex;
   justify-content: center;
   font-size: 58px;

}

/* bottom-web */
.bottom-web {
   background-color: #f4f4f4;
}


.bottom-web .container .bottom-title {
   display: flex;
   justify-content: center;
   padding-top: 100px;
}

.bottom-web .container .list-product ul {
   display: flex;
   justify-content: space-between;
   margin-top: 60px;

}

.bottom-web .container .list-product ul li {
   list-style: none;
}

.bottom-web .container .bottom-title-2 {
   display: flex;
   justify-content: center;
   margin-top: 70px;
}

.bottom-web .container .input-email ul {
   display: flex;
   justify-content: space-around;
   margin-top: 74px;
}

.bottom-web .container .input-email ul li {
   list-style: none;
}

.bottom-web .container .input-email ul li button {
   border: none;
   background-color: #f4f4f4;
}

/* bottom-menu */
.bottom-menu .container {
   display: flex;
   justify-content: space-evenly;
   margin-top: 140px;
}

/* menu */
.bottom-menu .container .menu-b1 {
   width: auto;
   height: auto;
}


.bottom-menu .container .menu-b1 ul li {
   list-style: none;
   margin-bottom: 32px;
}

.bottom-menu .container .menu-b1 ul li i {
   margin-right: 36px;
}

.bottom-menu .container .menu-b2 {
   width: 200px;
}

.bottom-menu .container .menu-b2 ul li {
   list-style: none;
   margin-bottom: 22px;
}

.bottom-menu .container .menu-b3 {
   width: 200px;
}

.bottom-menu .container .menu-b3 ul li {
   list-style: none;
   margin-bottom: 22px;
}

.bottom-menu .container .menu-b4 {
   width: 200px;
}

.bottom-menu .container .menu-b4 ul li {
   list-style: none;
   margin-bottom: 22px;
}

/* F-banner */
.banner-footer {
   display: flex;
   justify-content: center;
}

.banner-footer img {
   width: 100%;
}